# VM スクリプト更新用の設定ファイル (cloud-init / update-vm-scripts.sh が生成)
# self-update.sh が起動時に読み込み、tftpl のレンダリングに使用する
KEY_VAULT_URI='${key_vault_uri}'
GAME_SETTINGS_BLOB_URL='${game_settings_blob_url}'
STORAGE_ACCOUNT_NAME='${storage_account_name}'
IDLE_CHECKS='${idle_checks}'
REPO_URL='${repo_url}'
